@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Josefin+Sans:wght@200&display=swap');


.MainScreen{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    border-radius: 10px;
}

.allUsers {
    background-color: var(--primary-blue2);
    height: 100%;
    width: 30vw;
    max-width: 350px;
    padding: 20px 10px;
    border-radius: inherit;
    overflow-y: hidden;
    transition: .2s overflow-y ease;
    position: relative;
    font-family: 'Exo 2', 'Josefin Sans', sans-serif;
}

.allUsers:hover {
    overflow-y: scroll;
}

.mainHeading {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--primary-blue3);
    border-radius: inherit;
}

.mainHeading svg{
    font-size: 30px;
    margin: 0 15px 0 10px;
}

.allUsers input {
    background-color: var(--primary-blue1);
    padding: 10px 60px 10px 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: inherit;
    margin: 10px 0;
    color: var(--primary-text-light);
    font-size: 15px;
}

.allUsers input:focus-within{
    outline: 2px solid var(--primary-blue);
}

.allUsers input::placeholder{
    color: var(--primary-text-light);
}

::-webkit-scrollbar {
    width: 5px;
    display: none;
}


::-webkit-scrollbar-thumb {
    background-color: var(--white);
}

.userSlide{
    padding: 15px 10px;
    display: flex;
    gap: 10px;
    margin: 3px 0;
    border-bottom: 1px solid var(--primary-blue3);
    transition: .15s all ease-out;
    background-color: var(--primary-blue2);
}

.userSlide:hover{
    background-color: var(--primary-blue1);
    box-shadow: none;
}

.userDetails{
    flex-grow: 1;
    width: 100%;
    cursor: pointer;
}


.userDetails h3,.userDetails h5{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 900;
    font-family: 'Exo 2', 'Josefin Sans', sans-serif;
}

.userDetails h5{
    width: 65%;
    opacity: .7;
    margin: 0;
}

.noMessages{
    height: 74%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noMessages span{
    text-align: center;
}

.searchUserInputFeild{
    border-radius: inherit;
    position: relative;
}

.searchUserInputFeild .crossIcon{
    position: absolute;
    right: 10px;
    top: 11px;
    color: var(--primary-blue4);
}

